@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.App {
  margin: auto;
  text-align: center;
  font-family: "Roboto Slab", serif;
}
.navigation {
  background-color: RGB(6, 9, 43);
  font-family: "Kalam", cursive;
  padding-right: 1rem;
  padding-left: 1rem;
  padding: 1rem 0rem;
  color: white;
  border-bottom-left-radius: 1rem;
  margin-bottom: 0.5rem;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: "pointer";
  background-color: RGB(6, 9, 43);
  color: white;
  border-radius: 0.5rem;
  border-width: medium;
  border-color:  #0099ff;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
}
.genre-list {
  display: block;
  margin: auto;
  text-align: centre;
  width: 100%;
  list-style-type: none;
  list-style: none;
  border-radius: 1.2rem;
  padding: 1rem;
  margin: 1.5rem;
  background-color: #0099ff;
}
footer {
  background-color: RGB(6, 9, 43);
  font-family: "Kalam", cursive;
  padding: 1rem 0.5rem;
  color: white;
  border-top-right-radius: 1rem;
}
